*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', 'Arial';
}
body{
    background-color: #E5E5E5;
}
header {
    background-color:#222222 ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
a {
    text-decoration: none;
    color: white;
}

h2 {
    font-weight: bold;
}
.superior {
font-family: Roboto;
font-style: normal;
font-weight:lighter;
font-size: 16px;
line-height: 19px;
    color: rgb(255, 255, 255);
    width:360px ;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    top: 30px;
}
span {
    color: rgb(255, 0, 0);
}

#comprando {
    color: rgb(255, 255, 255);
    margin-left: 3px;
    margin-right: 3px;

}

h3 {
    font-family: 'Roboto';
    font-weight: lighter;
}
header{
    font-weight: normal;
    padding-left:40px ;
    padding-right:40px ;
   padding-top: 10px;
   padding-bottom: 10px;
    width: 100% ;
    position: absolute;
    top: 0;
    background-color:#222222 ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer {

    padding: 30px;
    width: 100% ;
    position: absolute;
    bottom: 0;
    background-color:#222222 ;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    
}

main {
position: relative;
top: 130px ;
display: flex;
flex-direction: row;
justify-content: space-evenly
}

.promocion{
    position: relative;
    top: 20px;
    left: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.pizzero {
    background-image: url('../img/pizzerofondo.png');
    background-repeat: no-repeat;
    height: 350px;
    width: 491px;
    margin-right: -180px;
}

.sabores {
    width:491px ;
    background-color: antiquewhite;
    background-repeat: no-repeat;
    height: 350px;
}

#listadosabores{
    font-weight: bold;
    line-height:1.5 ;
position: relative;
left: 60px;
top: 120px;
display: flex;
flex-direction: column ;
justify-content: space-evenly;
}
#top5{
    font-weight: bold;
    position: relative;
    top: 100px;
    left: 50px;
}
#podio {
    color: rgb(255, 0, 0);
    position: relative;
    top: 20px;
    text-align: center;
}
.pizzaingredientes {
    position: relative;
    bottom: 20px;
    left: 320px;
}

.logo {
    position: relative;
    bottom: 20px;
}

#footerlista {
    display: flex;
    flex-direction: column;

}