header {background-color:#E5E5E5;
    ;

}
h1 , h3 {background-color: #C4C4C4;
    ;
text-align: center;
color: #005677;
}

.datosp {
    
}

footer { background-color: #005677;
; text-align: center;
color: #E5E5E5;
}